@font-face {
    font-family: 'Raleway-Regular';
    src: url('../../fonts/Raleway-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Raleway-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Raleway-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Raleway-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Raleway-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../../fonts/Roboto-Bold.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Roboto-Bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Roboto-Bold.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Roboto-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Roboto-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../../fonts/Roboto-Light.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Roboto-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Roboto-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Roboto-Light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Roboto-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../../fonts/Roboto-Medium.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Roboto-Medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Roboto-Medium.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Roboto-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Roboto-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto-Regular.eot'); /* IE9 Compat Modes */
    src: url('../../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Roboto-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Roboto-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'LogoFont';
    src: url('../../fonts/PoiretOne-Regular.ttf');
    src: url('../../fonts/PoiretOne-Regular.ttf') format('truetype');
}