html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  touch-action: manipulation;
  overflow-x: hidden !important;
}

body {
  font-family: TextRegular, sans-serif;
  font-size: 16px;
  height: 100%;
}

body, p, a, h1, ul, li {
  margin: 0;
  padding: 0;
  position: relative;

}

a {
  text-decoration: none;
  color: black;
  background-color: transparent;
}

img {
  border-style: none;
}

* {
  outline: none;
}