@font-face{font-family:'Raleway-Regular';src:url("../../fonts/Raleway-Regular.eot");src:url("../../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"),url("../../fonts/Raleway-Regular.woff2") format("woff2"),url("../../fonts/Raleway-Regular.woff") format("woff"),url("../../fonts/Raleway-Regular.ttf") format("truetype"),url("../../fonts/Raleway-Regular.svg#svgFontName") format("svg")}@font-face{font-family:'Roboto-Regular';src:url("../../fonts/Roboto-Regular.eot");src:url("../../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),url("../../fonts/Roboto-Regular.woff2") format("woff2"),url("../../fonts/Roboto-Regular.woff") format("woff"),url("../../fonts/Roboto-Regular.ttf") format("truetype"),url("../../fonts/Roboto-Regular.svg#svgFontName") format("svg")}@font-face{font-family:'Roboto-Bold';src:url("../../fonts/Roboto-Bold.eot");src:url("../../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),url("../../fonts/Roboto-Bold.woff2") format("woff2"),url("../../fonts/Roboto-Bold.woff") format("woff"),url("../../fonts/Roboto-Bold.ttf") format("truetype"),url("../../fonts/Roboto-Bold.svg#svgFontName") format("svg")}@font-face{font-family:'Roboto-Light';src:url("../../fonts/Roboto-Light.eot");src:url("../../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),url("../../fonts/Roboto-Light.woff2") format("woff2"),url("../../fonts/Roboto-Light.woff") format("woff"),url("../../fonts/Roboto-Light.ttf") format("truetype"),url("../../fonts/Roboto-Light.svg#svgFontName") format("svg")}@font-face{font-family:'Roboto-Medium';src:url("../../fonts/Roboto-Medium.eot");src:url("../../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),url("../../fonts/Roboto-Medium.woff2") format("woff2"),url("../../fonts/Roboto-Medium.woff") format("woff"),url("../../fonts/Roboto-Medium.ttf") format("truetype"),url("../../fonts/Roboto-Medium.svg#svgFontName") format("svg")}@font-face{font-family:'Roboto-Regular';src:url("../../fonts/Roboto-Regular.eot");src:url("../../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),url("../../fonts/Roboto-Regular.woff2") format("woff2"),url("../../fonts/Roboto-Regular.woff") format("woff"),url("../../fonts/Roboto-Regular.ttf") format("truetype"),url("../../fonts/Roboto-Regular.svg#svgFontName") format("svg")}@font-face{font-family:'LogoFont';src:url("../../fonts/PoiretOne-Regular.ttf");src:url("../../fonts/PoiretOne-Regular.ttf") format("truetype")}html{line-height:1.15;-webkit-text-size-adjust:100%;-ms-touch-action:manipulation;touch-action:manipulation;overflow-x:hidden !important}body{font-family:TextRegular, sans-serif;font-size:16px;height:100%}body,p,a,h1,ul,li{margin:0;padding:0;position:relative}a{text-decoration:none;color:black;background-color:transparent}img{border-style:none}*{outline:none}input{border-radius:0;-webkit-border-radius:0;-webkit-appearance:none}@media (min-width: 1200px){.container{width:96%}}@media (min-width: 1700px){.container{width:1670px}}.container{padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto}@media (min-width: 768px){.container{width:750px}}@media (min-width: 992px){.container{width:970px}}@media (min-width: 1200px){.container{width:1170px}}.popup-form{z-index:1000;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(18,26,45,0.95);width:100%;height:100%;display:none}.popup-form-block{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;width:100%;height:100%}.popup-form-block-text{font-size:30px;line-height:32px;text-align:center;max-width:600px;width:100%;color:rgba(26,239,0,0.84);font-family:HeaderBold, sans-serif;letter-spacing:1.7px;margin-bottom:40px}@media only screen and (max-width: 767px){.popup-form-block-text{font-size:26px;line-height:26px}}@media only screen and (max-width: 480px){.popup-form-block-text{font-size:16px;line-height:18px}}.popup-form-block-button{font-size:18px;line-height:18px;letter-spacing:1.5px;color:black;font-family:HeaderRegular, sans-serif;background-color:#fff;padding:15px 80px 15px;-webkit-border-radius:60px;border-radius:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;z-index:2;border:none;cursor:pointer}.popup-form.failed .popup-form-block-text{color:#ec253c}.popup-form.failed .popup-form-block-button{background-color:#ec253c;color:white}.header{background-color:#0037a2}.header .container{min-height:60px;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;position:relative}.header .container:before,.header .container:after{display:none}.header .header_burger{display:none;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;height:24px;background-color:white;cursor:pointer;position:absolute;top:-55px;left:18px;width:32px;z-index:2;visibility:visible}.header .header_burger .header_burger_item,.header .header_burger .header_burger_item:after,.header .header_burger .header_burger_item:before{width:32px;height:3px;-webkit-border-radius:20px;border-radius:20px}.header .header_burger .header_burger_item{position:relative;background:black;-webkit-transition:all 0s 300ms;-o-transition:all 0s 300ms;transition:all 0s 300ms}.header .header_burger .header_burger_item.is-open{background:rgba(255,255,255,0)}.header .header_burger .header_burger_item:before{content:"";position:absolute;left:0;bottom:11px;background:black;-webkit-transition:bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition:bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1)}.header .header_burger .header_burger_item:after{content:"";position:absolute;left:0;top:11px;background:black;-webkit-transition:top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition:top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1)}.header .header_burger .header_burger_item.is-open:after{top:0;-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transition:top 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition:top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:top 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)}.header .header_burger .header_burger_item.is-open:before{bottom:0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transition:bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);-o-transition:bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);transition:bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),-webkit-transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1)}.header_logotype{width:100%;max-width:140px;color:white;font-size:-webkit-calc(112px / 2);font-size:calc(112px / 2);padding-bottom:5px;font-family:'LogoFont', sans-serif}.header_logotype span{margin:0;-webkit-transform:translate(-34px, 5px) scale(1, 1);-ms-transform:translate(-34px, 5px) scale(1, 1);transform:translate(-34px, 5px) scale(1, 1);display:inline-block;font-size:53px}.header_logotype_img{height:50px}.header_logotype_img-mobile{display:none}.header_menu{width:-webkit-calc(100% - 560px);width:calc(100% - 560px)}.header_menu ul{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-webkit-justify-content:space-between;-ms-flex-pack:justify;justify-content:space-between;max-width:-webkit-calc(100% - 40px);max-width:calc(100% - 40px);margin:0 auto;overflow:hidden}.header_menu-item{list-style:none}.header_menu-item.mobile-tab{display:none}.header_menu-item:hover .header_menu-item--link:after{width:80%}.header_menu-item--link{font-family:'Roboto-Medium', sans-serif;font-size:14px;line-height:22px;letter-spacing:0.059em;padding:5px 0;color:#fff;text-decoration:none}.header_menu-item--link:after{content:'';width:0;height:3px;background-color:#fff;-webkit-transition:.3s;-o-transition:.3s;transition:.3s;display:block}.header_menu-item--link:hover,.header_menu-item--link:focus{text-decoration:none}.header_menu-item--link.active:after{width:80%}.header_buttons{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:end;-webkit-justify-content:flex-end;-ms-flex-pack:end;justify-content:flex-end;min-width:280px}.header_buttons-search{min-width:22px;max-width:22px;cursor:pointer;visibility:visible;-webkit-transition:opacity .3s;-o-transition:opacity .3s;transition:opacity .3s}.header_buttons-search img{width:100%}.header_buttons-search.hiddenTransition{opacity:0;width:0;height:0;overflow:hidden}.header_buttons-basket{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:35px}.header_buttons-basket img{width:30px;height:30px}.header_buttons-login{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:15px}.header_buttons-login span{display:block;margin-left:10px;font-size:14px;font-family:'Roboto-Medium', sans-serif;color:#71BEEE}.header_buttons-login span:hover{text-decoration:underline}.header_buttons-logout{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-left:30px;position:relative}.header_buttons-logout--avatar{width:50px;height:50px;-webkit-border-radius:50%;border-radius:50%}.header_buttons-logout--item{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center}.header_buttons-logout--item span{white-space:pre;margin:0 10px;font-size:14px;font-family:'Roboto-Medium', sans-serif;color:#71BEEE;-o-text-overflow:ellipsis;text-overflow:ellipsis;overflow:hidden;max-width:150px;width:auto}.header_buttons-logout--item span:hover{text-decoration:underline}.header_buttons-logout--link{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;margin-right:20px;cursor:pointer}.header_buttons-logout--link span:hover{text-decoration:underline}.header_buttons-logout--icon img{width:20px;cursor:pointer}
@media only screen and (max-width: 1700px) {
    .header_menu {
        width: -webkit-calc(100% - 480px);
        width: calc(100% - 480px)
    }

    .header_buttons {
        min-width: auto
    }
}

@media only screen and (max-width: 1199px) {
    .header_logotype {
        max-width: 150px
    }

    .header_menu {
        width: -webkit-calc(100% - 300px);
        width: calc(100% - 300px)
    }

    .header_buttons {
        min-width: 150px
    }

    .header_buttons-login {
        margin-left: 15px
    }

        .header_buttons-login img {
            display: none
        }

    .header_buttons-logout--item span {
        display: none
    }
}

@media only screen and (max-width: 991px) {
    .header .container {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        min-height: 90px
    }

    .header .header_burger {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .header_logotype {
        width: 33.3%;
        max-width: initial;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 42px
    }

    .header_logotype_img {
        height: 100%
    }

    .header_menu {
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-color: white;
        z-index: 4;
        visibility: hidden;
        -webkit-transition: height .3s linear;
        -o-transition: height .3s linear;
        transition: height .3s linear
    }

        .header_menu.is-open {
            min-height: 400px;
            height: auto;
            visibility: visible
        }

            .header_menu.is-open ul {
                padding: 0 20px 20px
            }

        .header_menu ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            width: 100%;
            padding: 0;
            -webkit-box-pack: initial;
            -webkit-justify-content: initial;
            -ms-flex-pack: initial;
            justify-content: initial;
            margin: 0 auto 20px;
            overflow: auto;
            max-height: -webkit-calc(100vh - 90px);
            max-height: calc(100vh - 90px)
        }

    .header_menu-item:hover .header_menu-item--link:after {
        width: 0
    }

    .header_menu-item--link {
        width: 100%;
        display: block;
        border-bottom: 2px solid #fafafa;
        padding: 10px 0 4px
    }

        .header_menu-item--link.active {
            width: 90%;
            border-bottom: 2px solid #71BEEE
        }

            .header_menu-item--link.active:after {
                display: none
            }

    .header_buttons {
        width: 33.3%
    }
}

@media only screen and (max-width: 480px) {
    .header_logotype {
        width: 40%;
        min-width: 150px
    }

    .header_menu-item.mobile-tab {
        display: block
    }

    .header_buttons {
        min-width: initial;
        width: 30%
    }

    .header_buttons-login {
        display: none
    }

    .header_buttons-logout {
        display: none
    }
}

@media only screen and (max-width: 320px) {
    .header_logotype {
        min-width: initial
    }

    .header_logotype_img {
        display: none
    }

    .header_logotype_img-mobile {
        display: block;
        height: 100%
    }

    .header_buttons {
        min-width: initial
    }

    .header_buttons-login {
        display: none
    }
}

.footer {
    background-color: #f6f6f6;
    padding: 43px 0 38px;
    bottom: 0;
    min-height: 110px;
    margin-top: 110px
}

.footer-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.footer-logotype.main_block-header1 {
    margin: 0 40px 0 0;
    font-size: 46px;
    line-height: 40px;
    letter-spacing: 2px
}

.footer-menu {
    margin-right: 30px
}

.footer-menu-nav ul {
    list-style: none
}

    .footer-menu-nav ul li a {
        font-size: 18px;
        line-height: 26px;
        display: block;
        text-decoration: underline;
        min-width: 145px;
        color: #000;
        font-family: Roboto-Medium;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        cursor: pointer
    }

.footer-title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 10px;
    font-family: Roboto-Bold
}

.footer-contact-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 20px
}

    .footer-contact-wrapper a {
        color: #000;
        font-family: Roboto-Medium;
        text-decoration: underline;
        font-size: 18px;
        line-height: 26px
    }

.footer-socials {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 190px
}

.footer-socials-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.footer-socials-item {
    margin: 3px 10px 3px;
    width: 32px;
    height: 32px;
    border: 1px solid black;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s
}

    .footer-socials-item:hover {
        opacity: .8
    }

.home-page-main {
    height: -webkit-calc(100vh - 69px);
    height: calc(100vh - 69px);
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden
}

    .home-page-main .video-background {
        background: #000;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -99
    }

        .home-page-main .video-background:after {
            content: '';
            background: rgba(0,0,0,0.6);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0
        }

        .home-page-main .video-foreground, .home-page-main .video-background iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            pointer-events: none
        }

@media (min-aspect-ratio: 16 / 9) {
    .home-page-main .video-foreground {
        height: 300%;
        top: -100%
    }
}

@media (max-aspect-ratio: 16 / 9) {
    .home-page-main .video-foreground {
        width: 300%;
        left: -100%
    }
}

.home-page-destination .main_block-header2 {
    font-size: 48px
}

.home-page-destination .destination-block {
    margin-top: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 10%
}

    .home-page-destination .destination-block .destination-block-item:nth-child(2), .home-page-destination .destination-block .destination-block-item:nth-child(3) {
        width: -webkit-calc(50% - 10px);
        width: calc(50% - 10px)
    }

.home-page-destination .destination-block-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px
}

    .home-page-destination .destination-block-item:hover .destination-block-item-image {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1)
    }

.home-page-destination .destination-block-item-info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    z-index: 10
}

.home-page-destination .destination-block-item-city {
    margin-bottom: 18px;
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: bold;
    color: white;
    letter-spacing: 2px
}

.home-page-destination .destination-block-item-link {
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    font-family: cursive;
    color: #527aff;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    letter-spacing: 1.6px
}

    .home-page-destination .destination-block-item-link:hover {
        text-decoration: underline;
        color: #4261d7
    }

.home-page-destination .destination-block-item-image {
    width: 100%;
    height: auto;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    z-index: 0
}

.main_block {
    max-width: 750px;
    padding: 40px 0;
    background: white
}

.main_block-header1 {
    color: #0037a2;
    margin: 0 auto;
    text-align: center;
    font-size: 90px;
    line-height: 90px;
    font-family: 'LogoFont', sans-serif;
    letter-spacing: 5px
}

.main_block-header2 {
    margin: 40px auto 0;
    text-align: center;
    font-size: 36px;
    line-height: 36px;
    font-family: 'Roboto-Light', sans-serif
}

.form_tickets-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 40px
}

.form_tickets-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.form_tickets-group {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
    margin-top: 20px
}

.form_tickets-group-input {
    border: 1px solid #cbcbcb;
    padding: 7px 15px;
    font-family: Roboto-Light, sans-serif;
    font-size: 18px;
    line-height: 21px;
    font-weight: 100;
    width: 100%;
    height: 36px
}

.form_tickets-group-change {
    width: 60px;
    height: 36px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    border-top: 1px solid #cbcbcb;
    background-color: transparent;
    margin-top: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer
}

    .form_tickets-group-change img {
        width: 24px;
        height: auto
    }

    .form_tickets-group-change:hover {
        background: #cbcbcb
    }

.form_tickets-group-button {
    border: 1px solid #cbcbcb;
    padding: 10px 15px;
    font-family: Roboto-Light, sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    font-size: 22px;
    letter-spacing: 3px
}

    .form_tickets-group-button:hover {
        background: #cbcbcb
    }

.form-block {
    margin-top: 10px
}

    .form-block .form-group-button {
        display: inline-block;
        white-space: pre;
        min-width: 260px;
        background-color: #0037a2;
        text-align: center;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        border: none;
        width: 100%;
        padding: 20px;
        font-size: 18px;
        line-height: 19px;
        margin-top: 11px;
        color: #fff;
        text-decoration: none;
        cursor: pointer
    }

        .form-block .form-group-button:hover {
            background-color: #00368e
        }

    .form-block .validation_error {
        height: 0;
        text-align: right;
        font-size: 14px;
        font-family: Roboto-Light, sans-serif;
        font-weight: 100;
        color: #F16164;
        margin-right: 23px;
        margin-top: -2px;
        opacity: 0;
        display: block;
        line-height: 20px;
        -webkit-transition: all .2s linear .1s;
        -o-transition: all .2s linear .1s;
        transition: all .2s linear .1s
    }

        .form-block .validation_error.block-error {
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
            opacity: 1;
            margin: 0 auto;
            width: 100%;
            text-align: center
        }

    .form-block .form-group {
        margin-bottom: 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

        .form-block .form-group.form-group-error .form-group-input {
            border-bottom: 1px solid #F16164
        }

        .form-block .form-group.form-group-error .validation_error {
            opacity: 1;
            -webkit-transition: all .2s linear .1s;
            -o-transition: all .2s linear .1s;
            transition: all .2s linear .1s
        }

        .form-block .form-group .control-label {
            font-size: 14px;
            line-height: 16px;
            font-family: 'Roboto-Medium', sans-serif;
            font-weight: 100;
            margin-bottom: 3px;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s
        }

        .form-block .form-group .form-group-input {
            border: none;
            border-bottom: 1px solid #EFEFEF;
            padding: 7px 15px;
            font-family: Roboto-Light, sans-serif;
            font-size: 18px;
            line-height: 21px;
            font-weight: 100
        }

            .form-block .form-group .form-group-input.textarea {
                min-height: 36px;
                max-height: 150px;
                height: 36px;
                resize: vertical
            }

        .form-block .form-group.pass_settings {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-pack: justify;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between
        }

    .form-block .form-group-forgot_pass a {
        text-decoration: underline;
        color: #71BEEE;
        font-family: Roboto-Medium, sans-serif;
        font-size: 16px
    }

@media (max-width: 480px) {
    .form-block .form-group-forgot_pass a {
        font-size: 14px
    }
}

.form-block .form-group-forgot_pass a:hover {
    text-decoration: none;
    color: #06ABF3
}

.form-group-show_pass {
    position: relative;
    background: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .form-group-show_pass:hover label.checkbox_square::after {
        opacity: 0.3
    }

    .form-group-show_pass label.checkbox_square {
        height: 13px;
        width: 13px;
        border: 1px solid #EFEFEF;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 2px;
        left: 0;
        cursor: pointer
    }

        .form-group-show_pass label.checkbox_square:after {
            content: '';
            width: 9px;
            height: 9px;
            display: block;
            position: absolute;
            top: 2px;
            left: 2px;
            background: #71BEEE;
            opacity: 0
        }

    .form-group-show_pass input[type=checkbox] {
        visibility: hidden
    }

        .form-group-show_pass input[type=checkbox]:checked + label.checkbox_square:after {
            opacity: 1
        }

    .form-group-show_pass .checkbox_text {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 0 20px;
        width: auto;
        font-size: 14px;
        font-family: Roboto-Light, sans-serif;
        font-weight: 100;
        cursor: pointer
    }

@media only screen and (max-width: 480px) {
    .form-group-show_pass .checkbox_text {
        font-size: 13px
    }
}

.form-wrapper {
    width: 435px;
    margin: 0 auto
}

@media only screen and (max-width: 480px) {
    .form-wrapper {
        width: 100%
    }
}

.form-wrapper.nowrap .form-wrapper_title-block {
    margin-bottom: 60px;
    -webkit-box-align: unset;
    -webkit-align-items: unset;
    -ms-flex-align: unset;
    align-items: unset
}

.form-wrapper.nowrap .form-wrapper_title-text {
    white-space: normal;
    text-transform: capitalize;
    line-height: 40px
}

.form-wrapper_title-block {
    width: 100%;
    height: 77px;
    position: relative;
    padding: 28px 18px 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px
}

.form-wrapper_title-text {
    margin: 0 auto;
    font-size: 46px;
    line-height: 49px;
    font-family: 'Roboto-Bold', sans-serif;
    white-space: nowrap
}

@media only screen and (max-width: 480px) {
    .form-wrapper_title-text {
        font-size: 32px
    }
}

.registration-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 20px
}

.registration-text {
    color: #000;
    font-family: Roboto-Light,sans-serif;
    font-size: 16px;
    margin: 0 10px
}

.registration-link {
    color: #71beee;
    font-family: Roboto-Medium,sans-serif;
    text-decoration: underline;
    margin: 0;
    font-size: 16px;
    cursor: pointer
}

    .registration-link:hover {
        text-decoration: none;
        color: #06ABF3
    }

.ticket {
    background-color: #eceef2;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 2px 0px rgba(204,204,204,0.5);
    box-shadow: 0px 3px 2px 0px rgba(204,204,204,0.5);
    width: 100%;
    max-width: 800px;
    margin: 50px auto 0
}

.ticket-id {
    text-align: center;
    border-bottom: 2px dashed #fff
}

    .ticket-id p {
        padding: 10px;
        margin: 0;
        text-transform: uppercase;
        font-size: 16px
    }

        .ticket-id p span {
            font-weight: 700
        }

.lnr {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 45px
}

.ticket-main_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #fff;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.duration {
    position: relative;
    padding: 40px 0 45px;
    width: 70%;
    border-right: 1px solid #fff
}

    .duration .company {
        font-size: 24px;
        margin: -25px 0 25px 25px;
        font-weight: 300;
        line-height: 32px;
        letter-spacing: 2px
    }

.price {
    width: 30%;
    position: relative;
    padding: 40px 20px 45px 0;
    font-size: 44px;
    font-weight: 100;
    margin: 0;
    line-height: 36px;
    letter-spacing: 3px;
    text-align: center
}

.time {
    width: 49%;
    display: inline-block;
    text-align: center
}

    .time p {
        font-size: 36px;
        font-weight: 300;
        margin: 0;
        line-height: 32px;
        letter-spacing: 2px
    }

        .time p:nth-child(2) {
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
            margin: 0;
            letter-spacing: 1px
        }

    .time span {
        font-size: 12px;
        font-weight: 100;
        color: #ccc;
        letter-spacing: normal
    }

.buttons button {
    border: none;
    background-color: transparent;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color: #5c5856;
    letter-spacing: 2px;
    padding: 14px 0;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-border-radius: 0 0 10px 0;
    border-radius: 0 0 10px 0
}

    .buttons button:hover {
        background-color: #e3e5e9
    }

    .buttons button:focus {
        outline: none
    }

.buttons {
    position: relative;
    font-size: 0
}

    .buttons:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff
    }

    .buttons:after {
        content: "";
        position: absolute;
        top: -5px;
        right: -5px;
        width: 10px;
        height: 10px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        background-color: #fff
    }

@media only screen and (max-width: 400px) {
    .time p {
        font-size: 30px;
        letter-spacing: 3px
    }

    .time span {
        letter-spacing: normal
    }

    .lnr {
        font-size: 30px
    }
}


/* About Page*/
.about-page {
    height: auto;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    
}
    .about-page .grid-container {
        margin: 2rem;
        display: grid;
        grid-template-columns: auto auto;
    }

.about-page .grid-item {
    width:45vw;
    height: 60vh;
    font-size: 30px;
    text-align: center;
}

.left img{
    width:45vw;

}

.right {
    background-color:white;
    padding:30px;
}
